fastapi
uvicorn
sqlalchemy[asyncio]
asyncpg
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
aiohttp
aioredis
pika
python-dotenv
pandas
tensorflow
prophet
tqdm
regex
psycopg2-binary
alembic
email-validator
scikit-learn
aiokafka
aio-pika
